body {
    background-image: url("../img/bg-quiz-frontend-codecamp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #696969;
}

h1 {
    color: #63c5bc;
}

.faded {
    color: #777;
}

#quiz-counter {
    color: #88449a;
}

.quiz-container {
    padding: 3em 3em 5em;
    max-width: 650px;
    margin: 4% auto;
    background: rgba(255, 255, 255, 0.92);
    border: 1px solid rgba(0, 0, 0, 0.185);
}

.quiz-container a {
    text-decoration: none;
    color: #333;
    background: #D3D3D3;
}

#quiz-header,
#quiz-start-screen,
#quiz-results-screen,
#quiz-counter {
    text-align: center;
}
#quiz-header{
    margin-bottom: 2em;
}

.question {
    font-size: 1.25em;
}

.answers {
    list-style: none;
    padding: 0;
}

.answers a {
    display: block;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    background: #d3d3d3;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.184);
}

.answers a.correct {
    background: #090;
}

.answers a.incorrect {
    background: #c00;
}

.answers a.correct,
.answers a.incorrect {
    color: #fff;
}

#quiz-controls {
    background: #63c5bc;
    color: #111;
    padding: 0.25em 0.5em 0.5em;
    text-align: center;
}

#quiz-response {
}

#quiz-results {
    font-size: 1.25em;
}

#quiz-buttons a,
.quiz-container .quiz-button {
    display: inline-block;
    padding: 0.5em 1em;
    background: #88449a;
    color: #fff;
}

#quiz-buttons a {
    background: #fff;
    color: #333;
}
input{
    background: #d3d3d3;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em 1em;
    border: 1px solid rgba(0, 0, 0, 0.184);
    width: 95%;
}

/* Quiz State Overrides */

.quiz-results-state #quiz-controls {
    background: none;
    padding: 0;
}

.quiz-results-state #quiz-buttons a {
    background: #88449a;
    color: #fff;
}